openapi: 3.0.0
info:
  title: Talkturo LLC API
  version: 1.0.0
  description: |
    REST-API für die Talkturo Voice-AI-Plattform — Assistenten, Telefonie, Telefonnummern,
    Guthaben, Abrechnung, CRM, TurboFlow-Workflows, Webhooks, Desktop-Auth und Kontoverwaltung.

    Die meisten erfolgreichen Antworten verwenden eine JSON-Hülle mit einem `success`-Flag und Ressourcendaten.
    Fehlgeschlagene Antworten geben `success: false` mit einer `error`-Meldung zurück.

    **Authentifizierung**
    - **API-Schlüssel** (`tk_live_` / `tk_test_`): `Authorization: Bearer tk_...` für Server-zu-Server-Integrationen
    - **Session-Cookies**: Browser- / First-Party-Web-App-Sitzungen
    - **JWT-Bearer-Tokens**: Desktop-Clients und einige Kontoverwaltungsrouten
    - **HMAC** (`X-Talkturo-Secret`): TurboFlow-Trigger und einige Integrations-Webhooks
    - **Stripe-Signatur**: Abrechnungs-Webhooks

    Das Standard-Rate-Limit für API-Schlüssel beträgt 1000 Anfragen pro Stunde.
  contact:
    name: Talkturo LLC
servers:
  - url: https://api.talkturo.com/api
    description: Primary Talkturo API server
  - url: https://app.talkturo.com/api
    description: App-origin API (same paths; used by some browser-oriented docs)
tags:
  - name: Authentifizierung
    description: Credential-Tests und Authentifizierungskonventionen
  - name: API-Schlüssel
    description: API-Schlüssel eines Kontos erstellen, auflisten, aktualisieren und widerrufen
  - name: Assistenten
    description: Voice-Assistenten erstellen und verwalten
  - name: Telefonie
    description: Telefonie-Konfiguration des Assistenten, Testanrufe und Telefonnummernzuweisung
  - name: Telefonnummern
    description: Telefonnummern suchen, kaufen, abrufen und freigeben; Carrier-Compliance-Webhooks
  - name: Wissensdatenbank
    description: Wissensdatenbank-Dateien eines Assistenten hochladen, auflisten und löschen
  - name: Guthaben
    description: Salden, Abzüge, Checkout, Auto-Reload und Guthabenverlauf
  - name: Abrechnung
    description: Stripe-Abrechnungs-Webhooks, Rechnungen und Abrechnungs-Debug
  - name: TurboFlow
    description: Visuelle Workflows, Trigger, Integrationen, Secrets und AI-Builder-Tools
  - name: Desktop-Auth
    description: Desktop-JWT-Anmeldung, Registrierung, Refresh und Abmeldung
  - name: Webhooks
    description: Eingehende Webhook- und Token-Endpunkte der Plattform
  - name: CRM-Kontakte
    description: Kontakt-CRUD und Massenimport
  - name: CRM-Unternehmen
    description: Unternehmens-CRUD und Unternehmenskontakte
  - name: CRM-Opportunities
    description: Opportunity-/Deal-Pipeline-CRUD
  - name: CRM-Kampagnen
    description: Outbound-Kampagnen, Dashboards und zugehörige CRM-Anruf-Insights
  - name: CRM-Benutzerdefinierte Felder
    description: Definitionen benutzerdefinierter Felder für Kontakte, Unternehmen und Opportunities

paths:
  /test-api-key:
    get:
      tags:
        - Authentifizierung
      summary: API-Schlüssel-Authentifizierung testen
      operationId: testApiKey
      description: |
        Bestätigen, dass Anmeldedaten gültig und akzeptiert sind. Verwendet denselben Authentifizierungsflow
        wie andere API-Schlüssel-fähige Routen.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      responses:
        "200":
          description: Authentifizierung erfolgreich
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Authentication succeeded
        "401":
          description: Ungültiger API-Schlüssel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api-keys:
    get:
      tags:
        - API-Schlüssel
      summary: API-Schlüssel auflisten
      operationId: listApiKeys
      description: |
        Alle API-Schlüssel eines Kontos abrufen. Gibt nur Metadaten zurück (niemals Klartext-Schlüssel).
        Erfordert ein Bearer-JWT von einem Kontomitglied mit der Rolle `owner` oder `admin`.
        Akzeptiert keine API-Schlüssel-Authentifizierung.
      security:
        - JwtBearer: []
      parameters:
        - name: accountSlug
          in: query
          required: true
          description: Account-Slug, dem die aufzulistenden API-Schlüssel gehören
          schema:
            type: string
      responses:
        "200":
          description: Metadatenliste der API-Schlüssel
          content:
            application/json:
              schema:
                type: object
                required: [apiKeys]
                properties:
                  apiKeys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKey"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Verboten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - API-Schlüssel
      summary: API-Schlüssel erstellen
      operationId: createApiKey
      description: |
        Einen neuen API-Schlüssel erstellen. Die Antwort enthält `fullKey` einmalig; sofort speichern.
        Erfordert Bearer-JWT mit der Rolle `owner` oder `admin`.
      security:
        - JwtBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "200":
          description: Erstellter API-Schlüssel inklusive einmaligem fullKey
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    allOf:
                      - $ref: "#/components/schemas/ApiKey"
                      - type: object
                        properties:
                          fullKey:
                            type: string
                            description: Klartext-Schlüssel nur bei der Erstellung zurückgegeben
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Verboten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api-keys/{id}:
    parameters:
      - $ref: "#/components/parameters/ApiKeyId"
    patch:
      tags:
        - API-Schlüssel
      summary: API-Schlüssel aktualisieren
      operationId: updateApiKey
      description: Anzeigemetadaten oder Aktivstatus aktualisieren. Rotiert den Schlüsselwert nicht.
      security:
        - JwtBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                isActive:
                  type: boolean
                  description: false zum Deaktivieren oder true zum erneuten Aktivieren setzen
      responses:
        "200":
          description: Aktualisierter API-Schlüssel
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    $ref: "#/components/schemas/ApiKey"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - API-Schlüssel
      summary: API-Schlüssel widerrufen
      operationId: revokeApiKey
      description: Einen API-Schlüssel löschen und den Zugriff sofort widerrufen.
      security:
        - JwtBearer: []
      responses:
        "200":
          description: API-Schlüssel widerrufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants:
    post:
      tags:
        - Assistenten
      summary: Assistenten erstellen
      operationId: createAssistant
      description: |
        Einen neuen Assistenten unter einem Konto erstellen. Dual-Authentifizierung über `withApiAuth`
        (API-Schlüssel oder Session-Cookie).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountSlug, name]
              properties:
                accountSlug:
                  type: string
                  description: Account-Slug, dem der Assistent gehört
                name:
                  type: string
                  description: Name des Assistenten
                templateId:
                  type: string
                  description: Optionales Template; setzt bei Angabe den Assistententyp aus dem Template
      responses:
        "200":
          description: Assistent erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  assistant:
                    $ref: "#/components/schemas/Assistant"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    patch:
      tags:
        - Assistenten
      summary: Assistenten aktualisieren
      operationId: updateAssistant
      description: |
        Einen bestehenden Assistenten aktualisieren. Akzeptiert accountSlug und alle vom Backend
        unterstützten Assistentenfelder (Prompts, Stimmen, Modelle, Telefonie-Einstellungen usw.).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                accountSlug:
                  type: string
                name:
                  type: string
                voice:
                  type: string
                model:
                  type: string
                transcriptor_options:
                  type: object
                  description: Wird bei Angabe gegen den ausgewählten Provider und das Modell validiert
      responses:
        "200":
          description: Assistent aktualisiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  assistant:
                    $ref: "#/components/schemas/Assistant"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - Assistenten
      summary: Assistenten löschen
      operationId: deleteAssistant
      description: Einen Assistenten nach Eigentumsprüfungen dauerhaft anhand der ID löschen.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      responses:
        "200":
          description: Assistent gelöscht
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/clone:
    post:
      tags:
        - Assistenten
      summary: Assistenten klonen
      operationId: cloneAssistant
      description: Eine Assistentenkonfiguration in einen neuen Assistenten-Datensatz duplizieren.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Assistent geklont
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  assistant:
                    $ref: "#/components/schemas/Assistant"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/usage-stats:
    get:
      tags:
        - Assistenten
      summary: Nutzungsstatistik des Assistenten abrufen
      operationId: getAssistantUsageStats
      description: Nutzungsdaten für einen einzelnen Assistenten für Monitoring oder Reporting abrufen.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Nutzungsstatistik
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  stats:
                    type: object
                    description: Form der Nutzungsdaten hängt von verfügbaren Metriken ab
                    additionalProperties: true
                    properties:
                      total_calls:
                        type: number
                      total_minutes:
                        type: number
                      last_call_at:
                        type: string
                        format: date-time
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/webhooks/test:
    post:
      tags:
        - Webhooks
        - Assistenten
      summary: Webhook-Zustellung des Assistenten testen
      operationId: testAssistantWebhook
      description: |
        Eine Test-Webhook-Zustellung für eine Assistentenkonfiguration senden.
        Für authentifizierte Dashboard-Benutzer gedacht, nicht für eingehende Third-Party-Webhooks.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Ergebnis der Testzustellung
          content:
            application/json:
              schema:
                type: object
                description: Payload des Zustellungstests
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/test-call:
    post:
      tags:
        - Telefonie
      summary: Test-Outbound-SIP-Anruf starten
      operationId: startTelephonyTestCall
      description: |
        Einen Test-Outbound-Anruf von einer dem Assistenten bereits zugewiesenen Telefonnummer starten.
        Erstellt einen LiveKit-Raum, dispatcht den Agenten und erstellt dann den Outbound-SIP-Participant.
        Führt eine Guthaben-Vorprüfung durch; gibt 402 zurück, wenn der Saldo unzureichend ist.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountSlug, fromNumber, toNumber]
              properties:
                accountSlug:
                  type: string
                fromNumber:
                  type: string
                  description: Aktive Nummer, die dem Assistenten bereits zugewiesen ist
                toNumber:
                  type: string
                  description: Zielnummer zum Anrufen
      responses:
        "200":
          description: Testanruf gestartet
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  roomName:
                    type: string
                  sipCallId:
                    type: string
                  message:
                    type: string
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "402":
          description: Unzureichendes Guthaben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Verboten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/inbound:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags:
        - Telefonie
      summary: Inbound-Telefonie-Konfiguration abrufen
      operationId: getInboundTelephony
      description: Die aktuelle Inbound-Telefonie-Konfiguration eines Assistenten zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Inbound-Telefonie-Konfiguration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Telefonie
      summary: Inbound-Telefonie konfigurieren
      operationId: configureInboundTelephony
      description: Inbound-Telefonie-Konfiguration für den Assistenten erstellen oder aktualisieren.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Felder der Inbound-Telefonie-Konfiguration
              additionalProperties: true
      responses:
        "200":
          description: Inbound-Konfiguration gespeichert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/outbound:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags:
        - Telefonie
      summary: Outbound-Telefonie-Konfiguration abrufen
      operationId: getOutboundTelephony
      description: Die aktuelle Outbound-Telefonie-Konfiguration eines Assistenten zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Outbound-Telefonie-Konfiguration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Telefonie
      summary: Outbound-Telefonie konfigurieren
      operationId: configureOutboundTelephony
      description: Outbound-Telefonie-Konfiguration für den Assistenten erstellen oder aktualisieren.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Felder der Outbound-Telefonie-Konfiguration
              additionalProperties: true
      responses:
        "200":
          description: Outbound-Konfiguration gespeichert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/settings:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags:
        - Telefonie
      summary: Vollständige Telefonie-Einstellungen abrufen
      operationId: getTelephonySettings
      description: Das vollständige Telefonie-Einstellungsobjekt des Assistenten zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Telefonie-Einstellungen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags:
        - Telefonie
      summary: Telefonie-Einstellungen aktualisieren
      operationId: updateTelephonySettings
      description: Telefonie-Einstellungen des Assistenten teilweise aktualisieren.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Teilweise Telefonie-Einstellungen
              additionalProperties: true
      responses:
        "200":
          description: Einstellungen aktualisiert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/phone-numbers:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags:
        - Telefonie
      summary: Telefonie-Telefonnummern des Assistenten auflisten
      operationId: listAssistantTelephonyPhoneNumbers
      description: Dem Assistenten zugeordnete Telefonnummern zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Dem Assistenten zugeordnete Telefonnummern
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Telefonie
      summary: Telefonie-Telefonnummern des Assistenten verwalten
      operationId: manageAssistantTelephonyPhoneNumbers
      description: Telefonnummern für den Assistenten verwalten.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Telefonnummern aktualisiert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/assign-phone-numbers:
    post:
      tags:
        - Telefonie
      summary: Telefonnummern einem Assistenten zuweisen
      operationId: assignAssistantPhoneNumbers
      description: Eine oder mehrere bestehende Kontotelefonnummern einem Assistenten zuweisen.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Payload der Telefonnummernzuweisung
              additionalProperties: true
      responses:
        "200":
          description: Nummern zugewiesen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/compliance-templates:
    get:
      tags:
        - Telefonie
      summary: Telefonie-Compliance-Templates auflisten
      operationId: listTelephonyComplianceTemplates
      description: Für die Telefonie-Konfiguration verfügbare Compliance-Templates zurückgeben.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Compliance-Templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistant-phone-numbers:
    get:
      tags:
        - Telefonie
      summary: Assistenten-Telefonnummern des Kontos auflisten
      operationId: listAccountAssistantPhoneNumbers
      description: |
        Kontoweiter Session-Auth-Endpunkt, der Telefonnummern auflistet, die
        Assistenten im gesamten Konto zugeordnet sind.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Assistenten-Telefonnummern im gesamten Konto
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/search:
    get:
      tags:
        - Telefonnummern
      summary: Verfügbare Telefonnummern suchen
      operationId: searchPhoneNumbers
      description: Carrier-Inventar gefiltert nach Standort und Funktionsanforderungen durchsuchen.
      security:
        - SessionCookie: []
      parameters:
        - name: areaCode
          in: query
          required: false
          schema:
            type: string
          description: Auf eine lokale Vorwahl filtern
        - name: countryCode
          in: query
          required: false
          schema:
            type: string
          description: Ländercode wie US
        - name: phoneNumberPattern
          in: query
          required: false
          schema:
            type: string
          description: Vom Carrier unterstütztes Nummernmuster
        - name: features
          in: query
          required: false
          schema:
            type: string
          description: Kommagetrennte erforderliche Fähigkeiten (z. B. sms,voice)
      responses:
        "200":
          description: Verfügbare Nummern
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  numbers:
                    type: array
                    items:
                      $ref: "#/components/schemas/AvailablePhoneNumber"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/purchase:
    post:
      tags:
        - Telefonnummern
      summary: Telefonnummer kaufen
      operationId: purchasePhoneNumber
      description: Eine Nummer für ein Konto bereitstellen. Kann carrier-spezifische Compliance-Felder enthalten.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phoneNumber, accountSlug]
              additionalProperties: true
              properties:
                phoneNumber:
                  type: string
                accountSlug:
                  type: string
                bundleId:
                  type: string
                  description: Carrier-spezifisches Compliance-Bundle, falls erforderlich
      responses:
        "200":
          description: Nummer bereitgestellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  phoneNumber:
                    $ref: "#/components/schemas/PhoneNumber"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique phone number identifier
    get:
      tags:
        - Telefonnummern
      summary: Telefonnummer abrufen
      operationId: getPhoneNumber
      description: Einen einzelnen Telefonnummern-Datensatz anhand der Talkturo-Kennung abrufen.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Telefonnummern-Datensatz
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  phoneNumber:
                    $ref: "#/components/schemas/PhoneNumber"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - Telefonnummern
      summary: Telefonnummer freigeben
      operationId: releasePhoneNumber
      description: Eine bereitgestellte Nummer freigeben, sodass sie dem Konto nicht mehr zugewiesen ist.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Telefonnummer freigegeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/telnyx-webhook:
    post:
      tags:
        - Telefonnummern
        - Webhooks
      summary: Telnyx-KYC-Compliance-Webhook
      operationId: telnyxPhoneNumberWebhook
      description: |
        Carrier-Webhook für Telnyx-KYC- / Requirement-Group-Statusänderungen.
        Verifiziert die ED25519-Signatur mit TELNYX_PUBLIC_KEY. Gibt 503 zurück, wenn der Schlüssel
        nicht konfiguriert ist, 400 bei ungültiger Signatur. Gibt nach erfolgreicher Verarbeitung immer 200 zurück.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Rohe Telnyx-Event-Payload
              additionalProperties: true
      responses:
        "200":
          description: Webhook akzeptiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  status:
                    type: string
                  updated:
                    type: boolean
                  matchedRequest:
                    type: boolean
        "400":
          description: Signaturverifizierung fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: TELNYX_PUBLIC_KEY nicht konfiguriert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/twilio-webhook:
    post:
      tags:
        - Telefonnummern
        - Webhooks
      summary: Twilio-Bundle-Status-Webhook
      operationId: twilioPhoneNumberWebhook
      description: |
        Carrier-Callback für Twilio-Bundle-Statusänderungen. Kein Signatur-Header erforderlich.
        Ruft den aktuellen Bundle-Status von Twilio erneut ab, bevor Datensätze aktualisiert werden. Gibt immer 200 zurück.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                BundleSID:
                  type: string
                BundleSid:
                  type: string
                bundle_sid:
                  type: string
      responses:
        "200":
          description: Callback akzeptiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  status:
                    type: string
                  matchedRequest:
                    type: boolean

  /assistants/{assistantId}/knowledge-base:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags:
        - Wissensdatenbank
      summary: Wissensdatenbank-Dateien auflisten
      operationId: listKnowledgeBaseFiles
      description: Alle dem Assistenten zugeordneten Wissensdatenbank-Dateien zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Wissensdatenbank-Dateien
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  files:
                    type: array
                    items:
                      $ref: "#/components/schemas/KnowledgeBaseFile"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Wissensdatenbank
      summary: Wissensdatenbank-Datei hochladen
      operationId: uploadKnowledgeBaseFile
      description: Datei mit multipart/form-data hochladen. Die Verarbeitung kann nach dem Upload fortgesetzt werden.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload akzeptiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  file:
                    $ref: "#/components/schemas/KnowledgeBaseFile"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/knowledge-base/{fileId}:
    delete:
      tags:
        - Wissensdatenbank
      summary: Wissensdatenbank-Datei löschen
      operationId: deleteKnowledgeBaseFile
      description: Eine Datei aus der Wissensdatenbank eines Assistenten entfernen.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Kennung der Wissensdatenbank-Datei
      responses:
        "200":
          description: Datei gelöscht
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/billing/estimate:
    get:
      tags:
        - Wissensdatenbank
      summary: Abrechnungsschätzung der Wissensdatenbank abrufen
      operationId: getKnowledgeBaseBillingEstimate
      description: Die Abrechnungsschätzung für die Wissensdatenbank-Verarbeitung eines Assistenten abrufen.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Abrechnungsschätzung
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  estimate:
                    type: object
                    description: Details der Schätzung hängen von der Abrechnungsimplementierung ab
                    additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /kb:
    get:
      tags:
        - Wissensdatenbank
      summary: Eigenständige Wissensdatenbank-Abfrage
      operationId: queryKnowledgeBase
      description: |
        Optionaler eigenständiger Wissensdatenbank-Abfrage-Endpunkt, falls in Ihrem Deployment aktiviert.
        Kein Ersatz für die Dateiverwaltungs-Endpunkte der Assistenten. Schema ist deployment-spezifisch.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Abfrageergebnis (deployment-spezifisch)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /credits:
    get:
      tags:
        - Guthaben
      summary: Guthabensaldo abrufen
      operationId: getCredits
      description: |
        Den aktuellen Guthabensaldo eines Kontos lesen. Wenn accountId weggelassen wird, wird das
        authentifizierte Konto verwendet. Dual-Authentifizierung (API-Schlüssel oder Session).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      parameters:
        - name: accountId
          in: query
          required: false
          schema:
            type: string
          description: Zu lesende Konto-UUID
      responses:
        "200":
          description: Guthabensaldo
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  credits:
                    $ref: "#/components/schemas/CreditsRecord"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Guthaben
      summary: Guthaben abziehen
      operationId: deductCredits
      description: |
        Nutzung erfassen und den Kontosaldo verringern. Gibt 402 zurück, wenn das Konto
        nicht genügend Guthaben hat. Dual-Authentifizierung.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, amount]
              properties:
                accountId:
                  type: string
                amount:
                  type: number
                description:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Guthaben abgezogen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transactionId:
                    type: string
                  balance:
                    type: number
                  autoReloadTriggered:
                    type: boolean
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "402":
          description: Unzureichendes Guthaben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/checkout:
    post:
      tags:
        - Guthaben
      summary: Checkout-Session für Guthaben erstellen
      operationId: createCreditsCheckout
      description: |
        Eine eingebettete Stripe-Checkout-Session für einen Guthabenkauf erstellen.
        planId angeben, oder sowohl customAmount als auch customCredits (customAmount Minimum 99).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, accountSlug]
              properties:
                accountId:
                  type: string
                accountSlug:
                  type: string
                planId:
                  type: string
                customAmount:
                  type: number
                  description: Individueller Kaufbetrag in USD (Minimum 99)
                customCredits:
                  type: number
                customerId:
                  type: string
                customerEmail:
                  type: string
                toltReferral:
                  type: string
      responses:
        "200":
          description: Checkout-Session erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  checkoutToken:
                    type: string
                  sessionId:
                    type: string
                  credits:
                    type: number
                  amount:
                    type: number
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/auto-reload:
    get:
      tags:
        - Guthaben
      summary: Auto-Reload-Einstellungen abrufen
      operationId: getCreditsAutoReload
      description: Auto-Reload-Einstellungen für das angemeldete Konto lesen.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Auto-Reload-Einstellungen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  auto_reload_enabled:
                    type: boolean
                  auto_reload_threshold:
                    type: number
                  auto_reload_amount_usd:
                    type: number
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Guthaben
      summary: Auto-Reload-Einstellungen aktualisieren
      operationId: updateCreditsAutoReload
      description: Auto-Reload-Einstellungen für das angemeldete Konto aktualisieren.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_reload_enabled:
                  type: boolean
                auto_reload_threshold:
                  type: number
                auto_reload_amount_usd:
                  type: number
      responses:
        "200":
          description: Auto-Reload-Einstellungen aktualisiert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/claim-grants:
    post:
      tags:
        - Guthaben
      summary: Ausstehende Guthabengutschriften einlösen
      operationId: claimCreditGrants
      description: Ausstehende Guthabengutschriften auf das angemeldete Konto anwenden.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Gutschriften eingelöst
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/plans:
    get:
      tags:
        - Guthaben
      summary: Guthaben-Kaufpläne auflisten
      operationId: listCreditPlans
      description: Für das angemeldete Konto verfügbare Kaufpläne zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Guthabenpläne
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/statement:
    get:
      tags:
        - Guthaben
      summary: Guthaben-Kontoauszugshistorie abrufen
      operationId: getCreditsStatement
      description: Kontoauszugsartige Guthabenhistorie für das angemeldete Konto zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Guthaben-Kontoauszug
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/transactions:
    get:
      tags:
        - Guthaben
      summary: Guthaben-Transaktionshistorie abrufen
      operationId: getCreditsTransactions
      description: Transaktionsbezogene Guthabenhistorie für das angemeldete Konto zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Guthabentransaktionen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /billing/webhook:
    post:
      tags:
        - Abrechnung
        - Webhooks
      summary: Stripe-Abrechnungs-Webhook
      operationId: stripeBillingWebhook
      description: |
        Stripe-Abrechnungs-Events für Abonnements, Rechnungen, Guthaben und Zahlungsflows empfangen.
        Verifiziert den stripe-signature-Header mit STRIPE_WEBHOOK_SECRET. Den rohen Body erhalten.
      security:
        - StripeSignature: []
      parameters:
        - name: stripe-signature
          in: header
          required: true
          schema:
            type: string
          description: Stripe-Webhook-Signatur-Header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Rohe Stripe-Event-Payload
              additionalProperties: true
              properties:
                id:
                  type: string
                type:
                  type: string
                data:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Event bestätigt
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                    example: true
        "400":
          description: Ungültige Signatur oder Payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /billing/invoices:
    get:
      tags:
        - Abrechnung
      summary: Rechnungen auflisten
      operationId: listBillingInvoices
      description: Rechnungen für das authentifizierte Session-Konto auflisten.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Rechnungsliste
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invoice"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /debug/billing:
    get:
      tags:
        - Abrechnung
      summary: Abrechnungsstatus debuggen
      operationId: debugBilling
      description: |
        Abrechnungsstatus zum Debuggen prüfen. Nur Admin-Session-Zugriff.
        Die Payload ist diagnostisch und kein stabiler öffentlicher Vertrag.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Diagnostische Abrechnungs-Payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Verboten (nur Admin)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow:
    get:
      tags:
        - TurboFlow
      summary: Flows auflisten
      operationId: listFlows
      description: Im aktuellen authentifizierten Session-Kontext verfügbare Flows zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Flow-Liste
          content:
            application/json:
              schema:
                type: object
                properties:
                  flows:
                    type: array
                    items:
                      $ref: "#/components/schemas/Flow"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - TurboFlow
      summary: Flow erstellen
      operationId: createFlow
      description: Einen neuen Entwurfs-Flow erstellen.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              additionalProperties: true
      responses:
        "200":
          description: Flow erstellt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Flow"
        "201":
          description: Flow erstellt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Flow"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/manifest:
    get:
      tags:
        - TurboFlow
      summary: Connector-Manifest abrufen
      operationId: getFlowManifest
      description: Das vom Workflow-Builder verwendete Connector-Manifest zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Connector-Manifest
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}:
    parameters:
      - $ref: "#/components/parameters/FlowId"
    get:
      tags:
        - TurboFlow
      summary: Flow abrufen
      operationId: getFlow
      description: Die aktuelle Flow-Definition abrufen.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Flow-Definition
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags:
        - TurboFlow
      summary: Flow aktualisieren
      operationId: updateFlow
      description: Entwurfsmetadaten oder -struktur aktualisieren. Betrifft keine bereits veröffentlichten Versionen.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Flow aktualisiert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - TurboFlow
      summary: Flow archivieren
      operationId: archiveFlow
      description: Einen Flow archivieren. Verwaltungsoperation, kein Runtime-Stopp für abgeschlossene Läufe.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Flow archiviert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/publish:
    post:
      tags:
        - TurboFlow
      summary: Flow-Version veröffentlichen
      operationId: publishFlow
      description: |
        Eine neue ausführbare veröffentlichte Version erstellen. Ermöglicht HMAC-basierte externe Aufrufe
        über das trigger_secret der Version.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      responses:
        "200":
          description: Flow veröffentlicht
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/runs:
    get:
      tags:
        - TurboFlow
      summary: Flow-Läufe auflisten
      operationId: listFlowRuns
      description: Historische Ausführungen eines Flows zurückgeben.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      responses:
        "200":
          description: Flow-Laufhistorie
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/test-run:
    post:
      tags:
        - TurboFlow
      summary: Flow testweise ausführen
      operationId: testRunFlow
      description: Den Flow im Testmodus ohne den veröffentlichten Trigger-Pfad ausführen.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Ergebnis des Testlaufs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/test-run/node:
    post:
      tags:
        - TurboFlow
      summary: Einzelnen Flow-Knoten testweise ausführen
      operationId: testRunFlowNode
      description: Einen Knoten isoliert zum Debuggen ausführen.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Ergebnis des Knoten-Testlaufs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/tool-schema:
    get:
      tags:
        - TurboFlow
      summary: Flow-Tool-Schema abrufen
      operationId: getFlowToolSchema
      description: Tool-Schema-Informationen für einen bestimmten Flow zurückgeben.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      responses:
        "200":
          description: Tool-Schema
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/trigger:
    post:
      tags:
        - TurboFlow
        - Webhooks
      summary: Veröffentlichten Flow auslösen
      operationId: triggerFlow
      description: |
        Runtime-Einstiegspunkt für TurboFlow. Den rohen Request-Body mit SHA-256-HMAC
        unter Verwendung des trigger_secret der veröffentlichten Version signieren und den Digest in X-Talkturo-Secret senden.
        Async-Modus (Standard) gibt 202 mit run_id zurück. Sync-Modus (`?sync=true`) wartet bis zu
        etwa 30 Sekunden auf eine Inline-Ausgabe.
      security:
        - HmacTalkturoSecret: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
        - name: sync
          in: query
          required: false
          schema:
            type: boolean
          description: Bei true auf die finale Ausgabe inline warten
        - name: X-Talkturo-Secret
          in: header
          required: true
          schema:
            type: string
          description: SHA-256-HMAC-Digest des rohen Request-Body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [params]
              properties:
                params:
                  type: object
                  additionalProperties: true
                  description: Runtime-Eingabe-Schlüssel-Wert-Paare
                context:
                  type: object
                  additionalProperties: true
                  properties:
                    assistant_id:
                      type: string
      responses:
        "200":
          description: Synchrone Ausführung abgeschlossen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowTriggerSyncResponse"
        "202":
          description: Asynchrone Ausführung akzeptiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  run_id:
                    type: string
        "400":
          description: Ungültige Anfrage oder ungültige Signatur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Synchrone Ausführung fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowTriggerSyncResponse"

  /flow/{flowId}/webhook-test:
    parameters:
      - $ref: "#/components/parameters/FlowId"
    get:
      tags:
        - TurboFlow
      summary: Webhook-Testdetails abrufen
      operationId: getFlowWebhookTest
      description: Webhook-Testdetails für einen Flow abrufen.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Webhook-Testdetails
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - TurboFlow
      summary: Webhook-Test senden
      operationId: sendFlowWebhookTest
      description: Einen Webhook-Test für einen Flow senden.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook-Test gesendet
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations:
    get:
      tags:
        - TurboFlow
      summary: Integrationen auflisten
      operationId: listFlowIntegrations
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integrationsliste
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - TurboFlow
      summary: Integration verbinden
      operationId: connectFlowIntegration
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Integration verbunden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - TurboFlow
      summary: Integration trennen
      operationId: disconnectFlowIntegration
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integration getrennt
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/{integrationId}:
    parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
        description: Integration identifier
    get:
      tags:
        - TurboFlow
      summary: Integration abrufen
      operationId: getFlowIntegration
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integrationsdetails
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - TurboFlow
      summary: Integration löschen
      operationId: deleteFlowIntegration
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integration gelöscht
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/{integrationId}/options:
    get:
      tags:
        - TurboFlow
      summary: Dynamische Integrationsoptionen abrufen
      operationId: getFlowIntegrationOptions
      security:
        - SessionCookie: []
      parameters:
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Dynamische Optionen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/oauth/authorize:
    post:
      tags:
        - TurboFlow
      summary: OAuth-Autorisierung starten
      operationId: startFlowIntegrationOAuth
      description: |
        OAuth für eine Integration starten. Generiert OAuth-State, speichert einen Hash in httpOnly-
        Cookies und leitet zum Provider-Consent-Bildschirm weiter.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, label, account_slug]
              properties:
                provider:
                  type: string
                label:
                  type: string
                account_slug:
                  type: string
      responses:
        "200":
          description: Autorisierung gestartet / Redirect-Info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "302":
          description: Weiterleitung zum Provider-Consent-Bildschirm
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/oauth/callback:
    get:
      tags:
        - TurboFlow
      summary: OAuth-Autorisierung abschließen
      operationId: completeFlowIntegrationOAuth
      description: OAuth-Callback, der das State-Cookie validiert und den Autorisierungscode austauscht.
      security: []
      responses:
        "200":
          description: OAuth abgeschlossen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "302":
          description: Weiterleitung nach OAuth-Abschluss
        "400":
          description: Ungültiger OAuth-State oder -Code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/webhooks/{provider}:
    post:
      tags:
        - TurboFlow
        - Webhooks
      summary: Provider-Integrations-Webhook empfangen
      operationId: receiveFlowProviderWebhook
      description: |
        Eingehende Events von unterstützten Providern (z. B. cal.com, calendly, slack).
        Authentifiziert mit per-Webhook-HMAC über X-Talkturo-Secret.
      security:
        - HmacTalkturoSecret: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: Provider-Name (cal.com, calendly, slack usw.)
        - name: X-Talkturo-Secret
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook verarbeitet
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Ungültiger HMAC
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/webhooks/meta:
    get:
      tags:
        - TurboFlow
        - Webhooks
      summary: Meta-Webhook verifizieren
      operationId: verifyMetaWebhook
      description: Meta-Webhook-Verifizierungs-Handshake. Gibt bei Erfolg hub.challenge zurück.
      security: []
      parameters:
        - name: hub.mode
          in: query
          required: false
          schema:
            type: string
        - name: hub.verify_token
          in: query
          required: false
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Verifizierungs-Challenge zurückgegeben
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Verifizierung fehlgeschlagen
    post:
      tags:
        - TurboFlow
        - Webhooks
      summary: Meta-Lead-Events empfangen
      operationId: receiveMetaWebhook
      description: |
        Meta-/Facebook-Lead-Ads-Webhook-Events empfangen.
        Authentifiziert mit HMAC abgeleitet von META_APP_SECRET (z. B. X-Hub-Signature-256).
      security:
        - HmacTalkturoSecret: []
      parameters:
        - name: X-Hub-Signature-256
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Event akzeptiert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Ungültige Signatur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/secrets:
    get:
      tags:
        - TurboFlow
      summary: Secrets auflisten
      operationId: listFlowSecrets
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secrets-Liste
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - TurboFlow
      summary: Secret erstellen
      operationId: createFlowSecret
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Secret erstellt
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - TurboFlow
      summary: Secret löschen
      operationId: deleteFlowSecret
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret gelöscht
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/secrets/{secretId}:
    parameters:
      - name: secretId
        in: path
        required: true
        schema:
          type: string
        description: Secret identifier
    get:
      tags:
        - TurboFlow
      summary: Secret abrufen
      operationId: getFlowSecret
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret-Details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - TurboFlow
      summary: Secret anhand der ID löschen
      operationId: deleteFlowSecretById
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret gelöscht
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/secrets/providers:
    get:
      tags:
        - TurboFlow
      summary: Secret-Provider auflisten
      operationId: listFlowSecretProviders
      description: Verfügbare Secret-Provider für verschlüsselte Secret-Speicherung auflisten.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret-Provider
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/tools:
    get:
      tags:
        - TurboFlow
      summary: Tools und Connectoren auflisten
      operationId: listFlowTools
      description: Für das aktuelle Konto und die Umgebung verfügbare Connectoren und Tools zurückgeben.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Tools und Connectoren
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/robert:
    get:
      tags:
        - TurboFlow
      summary: AI-Builder-Stream öffnen
      operationId: openFlowAiRobertStream
      description: KI-gestütztes Flow-Building mit Streaming-Verhalten (GET).
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Stream geöffnet / AI-Builder-Antwort
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - TurboFlow
      summary: AI-Builder-Anfrage senden
      operationId: sendFlowAiRobertRequest
      description: KI-gestützte Flow-Building-Anfrage (POST).
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: AI-Builder-Antwort
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/robert-batch:
    post:
      tags:
        - TurboFlow
      summary: Batch-AI-Builder-Anfrage senden
      operationId: sendFlowAiRobertBatch
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Batch-AI-Builder-Antwort
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/describe-parameter:
    post:
      tags:
        - TurboFlow
      summary: Parameterbeschreibung generieren
      operationId: describeFlowParameter
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Generierte Parameterbeschreibung
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/describe-tool:
    post:
      tags:
        - TurboFlow
      summary: Tool-Beschreibung generieren
      operationId: describeFlowTool
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Generierte Tool-Beschreibung
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/sign-in:
    post:
      tags:
        - Desktop-Auth
      summary: Mit E-Mail und Passwort anmelden
      operationId: authSignIn
      description: E-Mail und Passwort gegen ein Supabase-Session-Token-Paar austauschen.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Angemeldet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionEnvelope"
        "401":
          description: Ungültige Anmeldedaten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/sign-up:
    post:
      tags:
        - Desktop-Auth
      summary: Mit E-Mail und Passwort registrieren
      operationId: authSignUp
      description: |
        Ein neues Konto erstellen. Je nach Supabase-Einstellungen wird eine vollständige Session
        oder ein Benutzerobjekt mit needs_email_confirm=true zurückgegeben.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Konto erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    additionalProperties: true
                    properties:
                      needs_email_confirm:
                        type: boolean
                      access_token:
                        type: string
                      refresh_token:
                        type: string
                      expires_in:
                        type: integer
                      expires_at:
                        type: integer
                      token_type:
                        type: string
                      user:
                        $ref: "#/components/schemas/AuthUser"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/sign-out:
    post:
      tags:
        - Desktop-Auth
      summary: Globale Abmeldung
      operationId: authSignOut
      description: |
        Die Refresh-Tokens des aktuellen Benutzers global widerrufen. Den aktuellen Access-
        Token als Authorization-Bearer-JWT senden.
      security:
        - JwtBearer: []
      responses:
        "200":
          description: Abgemeldet
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/refresh:
    post:
      tags:
        - Desktop-Auth
      summary: Session-Tokens aktualisieren
      operationId: authRefresh
      description: Einen Refresh-Token gegen ein neues Access- und Refresh-Token-Paar austauschen.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Tokens aktualisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionEnvelope"
        "401":
          description: Ungültiger Refresh-Token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/callback:
    get:
      tags:
        - Desktop-Auth
      summary: OAuth-Callback-Handler
      operationId: authCallback
      description: Verarbeitet den Supabase-OAuth-Callback in browserbasierten Anmeldeflows.
      security: []
      responses:
        "200":
          description: Callback verarbeitet
        "302":
          description: Weiterleitung nach OAuth-Callback

  /auth/confirm:
    get:
      tags:
        - Desktop-Auth
      summary: E-Mail-Bestätigungs-Handler
      operationId: authConfirm
      description: Verarbeitet die E-Mail-Bestätigung nach der Registrierung.
      security: []
      responses:
        "200":
          description: Bestätigung verarbeitet
        "302":
          description: Weiterleitung nach Bestätigung

  /auth/token:
    servers:
      - url: https://api.talkturo.com
        description: LiveKit token handler is served outside the /api prefix
    get:
      tags:
        - Webhooks
      summary: LiveKit-Token generieren und Agent dispatchen
      operationId: getLiveKitToken
      description: |
        Öffentlicher Token-Handler über Middleware exponiert (nicht unter /api).
        Generiert ein LiveKit-Access-Token, erstellt bei Bedarf einen Raum und dispatcht einen Agenten.
        Vollständige URL: `https://api.talkturo.com/auth/token`.
      security: []
      parameters:
        - name: mode
          in: query
          schema:
            type: string
        - name: room
          in: query
          schema:
            type: string
        - name: assistant_id
          in: query
          schema:
            type: string
        - name: account_id
          in: query
          schema:
            type: string
        - name: account_slug
          in: query
          schema:
            type: string
        - name: company_id
          in: query
          schema:
            type: string
        - name: visitor_name
          in: query
          schema:
            type: string
        - name: visitor_phone
          in: query
          schema:
            type: string
        - name: billing_exempt
          in: query
          schema:
            type: string
      responses:
        "200":
          description: LiveKit-Token ausgestellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity:
                    type: string
                  accessToken:
                    type: string
                  roomName:
                    type: string
                  agentName:
                    type: string

  /integrations/zapier:
    post:
      tags:
        - Webhooks
      summary: Zapier-Integrations-Endpunkt
      operationId: zapierIntegration
      description: |
        Von der Zapier-Integration verwendeter Endpunkt. Exakte Payload und Authentifizierungsverhalten
        hängen von der Workspace-Integrationskonfiguration ab.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Zapier-Anfrage verarbeitet
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /crm/contacts:
    get:
      tags:
        - CRM-Kontakte
      summary: Kontakte auflisten
      operationId: listCrmContacts
      description: Eine paginierte Kontaktliste mit optionalen Filtern abrufen.
      security:
        - SessionCookie: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: companyId
          in: query
          schema:
            type: string
        - name: campaignId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginierte Kontakte
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrmContact"
                  total:
                    type: integer
                  page:
                    type: integer
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - CRM-Kontakte
      summary: Kontakt erstellen
      operationId: createCrmContact
      description: Einen einzelnen CRM-Kontakt erstellen. Benutzerdefinierte Felder können als Top-Level-Properties gesendet werden.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrmContactInput"
      responses:
        "200":
          description: Kontakt erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contact:
                    $ref: "#/components/schemas/CrmContact"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /crm/contacts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Contact ID
    get:
      tags:
        - CRM-Kontakte
      summary: Kontakt abrufen
      operationId: getCrmContact
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Kontakt-Datensatz
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contact:
                    $ref: "#/components/schemas/CrmContact"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags:
        - CRM-Kontakte
      summary: Kontakt aktualisieren
      operationId: updateCrmContact
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                company_id:
                  type: string
      responses:
        "200":
          description: Kontakt aktualisiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
[...]
