openapi: 3.0.0
info:
  title: Talkturo LLC API
  version: 1.0.0
  description: |
    REST API for the Talkturo voice AI platform — assistants, telephony, phone numbers,
    credits, billing, CRM, TurboFlow workflows, webhooks, desktop auth, and account management.

    Most successful responses use a JSON envelope with a `success` flag and resource data.
    Failed responses return `success: false` with an `error` message.

    **Authentication**
    - **API keys** (`tk_live_` / `tk_test_`): `Authorization: Bearer tk_...` for server-to-server integrations
    - **Session cookies**: browser / first-party web app sessions
    - **JWT bearer tokens**: desktop clients and some account-management routes
    - **HMAC** (`X-Talkturo-Secret`): TurboFlow triggers and some integration webhooks
    - **Stripe signature**: billing webhooks

    Default API key rate limit is 1000 requests per hour.
  contact:
    name: Talkturo LLC
servers:
  - url: https://api.talkturo.com/api
    description: Primary Talkturo API server
  - url: https://app.talkturo.com/api
    description: App-origin API (same paths; used by some browser-oriented docs)
tags:
  - name: Authentication
    description: Credential testing and auth conventions
  - name: API Keys
    description: Create, list, update, and revoke account API keys
  - name: Assistants
    description: Create and manage voice assistants
  - name: Telephony
    description: Assistant telephony configuration, test calls, and phone number assignment
  - name: Phone Numbers
    description: Search, purchase, retrieve, and release phone numbers; carrier compliance webhooks
  - name: Knowledge Base
    description: Upload, list, and delete assistant knowledge base files
  - name: Credits
    description: Balances, deductions, checkout, auto-reload, and credit history
  - name: Billing
    description: Stripe billing webhooks, invoices, and billing debug
  - name: TurboFlow
    description: Visual workflows, triggers, integrations, secrets, and AI builder tools
  - name: Desktop Auth
    description: Desktop JWT sign-in, sign-up, refresh, and sign-out
  - name: Webhooks
    description: Inbound webhook and token endpoints across the platform
  - name: CRM Contacts
    description: Contact CRUD and bulk import
  - name: CRM Companies
    description: Company CRUD and company contacts
  - name: CRM Opportunities
    description: Opportunity / deal pipeline CRUD
  - name: CRM Campaigns
    description: Outbound campaigns, dashboards, and related CRM call insights
  - name: CRM Custom Fields
    description: Custom field definitions for contacts, companies, and opportunities

paths:
  /test-api-key:
    get:
      tags: [Authentication]
      summary: Test API key authentication
      operationId: testApiKey
      description: |
        Confirm that credentials are valid and accepted. Uses the same authentication flow
        as other API-key-enabled routes.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      responses:
        "200":
          description: Authentication succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Authentication succeeded
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      operationId: listApiKeys
      description: |
        Get all API keys for an account. Returns metadata only (never plaintext keys).
        Requires a Bearer JWT from an account member with the `owner` or `admin` role.
        Does not accept API key authentication.
      security:
        - JwtBearer: []
      parameters:
        - name: accountSlug
          in: query
          required: true
          description: Account slug that owns the API keys to list
          schema:
            type: string
      responses:
        "200":
          description: API key metadata list
          content:
            application/json:
              schema:
                type: object
                required: [apiKeys]
                properties:
                  apiKeys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKey"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [API Keys]
      summary: Create API key
      operationId: createApiKey
      description: |
        Create a new API key. The response includes `fullKey` once; store it immediately.
        Requires Bearer JWT with `owner` or `admin` role.
      security:
        - JwtBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "200":
          description: Created API key including one-time fullKey
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    allOf:
                      - $ref: "#/components/schemas/ApiKey"
                      - type: object
                        properties:
                          fullKey:
                            type: string
                            description: Plaintext key returned only at creation time
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api-keys/{id}:
    parameters:
      - $ref: "#/components/parameters/ApiKeyId"
    patch:
      tags: [API Keys]
      summary: Update API key
      operationId: updateApiKey
      description: Update display metadata or active status. Does not rotate the key value.
      security:
        - JwtBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                isActive:
                  type: boolean
                  description: Set false to disable or true to re-enable
      responses:
        "200":
          description: Updated API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    $ref: "#/components/schemas/ApiKey"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [API Keys]
      summary: Revoke API key
      operationId: revokeApiKey
      description: Delete an API key and immediately revoke its access.
      security:
        - JwtBearer: []
      responses:
        "200":
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants:
    post:
      tags: [Assistants]
      summary: Create an assistant
      operationId: createAssistant
      description: |
        Create a new assistant under an account. Dual authentication via `withApiAuth`
        (API key or session cookie).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountSlug, name]
              properties:
                accountSlug:
                  type: string
                  description: Account slug that owns the assistant
                name:
                  type: string
                  description: Assistant name
                templateId:
                  type: string
                  description: Optional template; when present, sets assistant type from the template
      responses:
        "200":
          description: Assistant created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  assistant:
                    $ref: "#/components/schemas/Assistant"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    patch:
      tags: [Assistants]
      summary: Update an assistant
      operationId: updateAssistant
      description: |
        Update an existing assistant. Accepts accountSlug and any assistant fields
        supported by the backend (prompts, voices, models, telephony settings, etc.).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                accountSlug:
                  type: string
                name:
                  type: string
                voice:
                  type: string
                model:
                  type: string
                transcriptor_options:
                  type: object
                  description: Validated against the selected provider and model when present
      responses:
        "200":
          description: Assistant updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  assistant:
                    $ref: "#/components/schemas/Assistant"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [Assistants]
      summary: Delete an assistant
      operationId: deleteAssistant
      description: Permanently delete an assistant by ID after ownership checks.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      responses:
        "200":
          description: Assistant deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/clone:
    post:
      tags: [Assistants]
      summary: Clone an assistant
      operationId: cloneAssistant
      description: Duplicate an assistant configuration into a new assistant record.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Assistant cloned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  assistant:
                    $ref: "#/components/schemas/Assistant"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/usage-stats:
    get:
      tags: [Assistants]
      summary: Retrieve assistant usage statistics
      operationId: getAssistantUsageStats
      description: Fetch usage data for a single assistant for monitoring or reporting.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Usage statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  stats:
                    type: object
                    description: Usage data shape depends on available metrics
                    additionalProperties: true
                    properties:
                      total_calls:
                        type: number
                      total_minutes:
                        type: number
                      last_call_at:
                        type: string
                        format: date-time
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/webhooks/test:
    post:
      tags: [Webhooks, Assistants]
      summary: Test assistant webhook delivery
      operationId: testAssistantWebhook
      description: |
        Send a test webhook delivery for an assistant configuration.
        Intended for authenticated dashboard users, not third-party inbound webhooks.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Test delivery result
          content:
            application/json:
              schema:
                type: object
                description: Delivery test result payload
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/test-call:
    post:
      tags: [Telephony]
      summary: Start a test outbound SIP call
      operationId: startTelephonyTestCall
      description: |
        Start a test outbound call from a phone number already assigned to the assistant.
        Creates a LiveKit room, dispatches the agent, then creates the outbound SIP participant.
        Performs a credit pre-flight check; returns 402 if balance is insufficient.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountSlug, fromNumber, toNumber]
              properties:
                accountSlug:
                  type: string
                fromNumber:
                  type: string
                  description: Active number already assigned to the assistant
                toNumber:
                  type: string
                  description: Destination number to dial
      responses:
        "200":
          description: Test call initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  roomName:
                    type: string
                  sipCallId:
                    type: string
                  message:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "402":
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/inbound:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags: [Telephony]
      summary: Get inbound telephony configuration
      operationId: getInboundTelephony
      description: Return the current inbound telephony configuration for an assistant.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Inbound telephony configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [Telephony]
      summary: Configure inbound telephony
      operationId: configureInboundTelephony
      description: Create or update inbound telephony configuration for the assistant.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Inbound telephony configuration fields
              additionalProperties: true
      responses:
        "200":
          description: Inbound configuration saved
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/outbound:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags: [Telephony]
      summary: Get outbound telephony configuration
      operationId: getOutboundTelephony
      description: Return the current outbound telephony configuration for an assistant.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Outbound telephony configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [Telephony]
      summary: Configure outbound telephony
      operationId: configureOutboundTelephony
      description: Create or update outbound telephony configuration for the assistant.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Outbound telephony configuration fields
              additionalProperties: true
      responses:
        "200":
          description: Outbound configuration saved
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/settings:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags: [Telephony]
      summary: Get full telephony settings
      operationId: getTelephonySettings
      description: Return the assistant's full telephony settings object.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Telephony settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags: [Telephony]
      summary: Update telephony settings
      operationId: updateTelephonySettings
      description: Partially update telephony settings for the assistant.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Partial telephony settings
              additionalProperties: true
      responses:
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/phone-numbers:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags: [Telephony]
      summary: List assistant telephony phone numbers
      operationId: listAssistantTelephonyPhoneNumbers
      description: Return phone numbers attached to the assistant.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Phone numbers attached to the assistant
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [Telephony]
      summary: Manage assistant telephony phone numbers
      operationId: manageAssistantTelephonyPhoneNumbers
      description: Manage phone numbers for the assistant.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Phone numbers updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/assign-phone-numbers:
    post:
      tags: [Telephony]
      summary: Assign phone numbers to an assistant
      operationId: assignAssistantPhoneNumbers
      description: Assign one or more existing account phone numbers to an assistant.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Phone number assignment payload
              additionalProperties: true
      responses:
        "200":
          description: Numbers assigned
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/telephony/compliance-templates:
    get:
      tags: [Telephony]
      summary: List telephony compliance templates
      operationId: listTelephonyComplianceTemplates
      description: Return compliance templates available for telephony configuration.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Compliance templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistant-phone-numbers:
    get:
      tags: [Telephony]
      summary: List account assistant phone numbers
      operationId: listAccountAssistantPhoneNumbers
      description: |
        Account-level session-auth endpoint that lists phone numbers attached to
        assistants across the account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Assistant phone numbers across the account
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/search:
    get:
      tags: [Phone Numbers]
      summary: Search available phone numbers
      operationId: searchPhoneNumbers
      description: Search carrier inventory filtered by location and feature requirements.
      security:
        - SessionCookie: []
      parameters:
        - name: areaCode
          in: query
          required: false
          schema:
            type: string
          description: Filter to a local area code
        - name: countryCode
          in: query
          required: false
          schema:
            type: string
          description: Country code such as US
        - name: phoneNumberPattern
          in: query
          required: false
          schema:
            type: string
          description: Carrier-supported number pattern
        - name: features
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated required capabilities (e.g. sms,voice)
      responses:
        "200":
          description: Available numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  numbers:
                    type: array
                    items:
                      $ref: "#/components/schemas/AvailablePhoneNumber"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/purchase:
    post:
      tags: [Phone Numbers]
      summary: Purchase a phone number
      operationId: purchasePhoneNumber
      description: Provision a number to an account. May include carrier-specific compliance fields.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phoneNumber, accountSlug]
              additionalProperties: true
              properties:
                phoneNumber:
                  type: string
                accountSlug:
                  type: string
                bundleId:
                  type: string
                  description: Carrier-specific compliance bundle when required
      responses:
        "200":
          description: Number provisioned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  phoneNumber:
                    $ref: "#/components/schemas/PhoneNumber"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique phone number identifier
    get:
      tags: [Phone Numbers]
      summary: Retrieve a phone number
      operationId: getPhoneNumber
      description: Retrieve a single phone number record by Talkturo identifier.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Phone number record
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  phoneNumber:
                    $ref: "#/components/schemas/PhoneNumber"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [Phone Numbers]
      summary: Release a phone number
      operationId: releasePhoneNumber
      description: Release a provisioned number so it is no longer assigned to the account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Phone number released
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/telnyx-webhook:
    post:
      tags: [Phone Numbers, Webhooks]
      summary: Telnyx KYC compliance webhook
      operationId: telnyxPhoneNumberWebhook
      description: |
        Carrier webhook for Telnyx KYC / requirement group status changes.
        Verifies ED25519 signature using TELNYX_PUBLIC_KEY. Returns 503 if key is
        not configured, 400 on bad signature. Always returns 200 after successful processing.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Raw Telnyx event payload
              additionalProperties: true
      responses:
        "200":
          description: Webhook accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  status:
                    type: string
                  updated:
                    type: boolean
                  matchedRequest:
                    type: boolean
        "400":
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: TELNYX_PUBLIC_KEY not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /phone-numbers/twilio-webhook:
    post:
      tags: [Phone Numbers, Webhooks]
      summary: Twilio bundle status webhook
      operationId: twilioPhoneNumberWebhook
      description: |
        Carrier callback for Twilio bundle status changes. No signature header required.
        Re-fetches current bundle status from Twilio before updating records. Always returns 200.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                BundleSID:
                  type: string
                BundleSid:
                  type: string
                bundle_sid:
                  type: string
      responses:
        "200":
          description: Callback accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  status:
                    type: string
                  matchedRequest:
                    type: boolean

  /assistants/{assistantId}/knowledge-base:
    parameters:
      - $ref: "#/components/parameters/AssistantId"
    get:
      tags: [Knowledge Base]
      summary: List knowledge base files
      operationId: listKnowledgeBaseFiles
      description: Return all knowledge base files attached to an assistant.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Knowledge base files
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  files:
                    type: array
                    items:
                      $ref: "#/components/schemas/KnowledgeBaseFile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [Knowledge Base]
      summary: Upload a knowledge base file
      operationId: uploadKnowledgeBaseFile
      description: Upload a file with multipart/form-data. Processing may continue after upload.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  file:
                    $ref: "#/components/schemas/KnowledgeBaseFile"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/knowledge-base/{fileId}:
    delete:
      tags: [Knowledge Base]
      summary: Delete a knowledge base file
      operationId: deleteKnowledgeBaseFile
      description: Remove a file from an assistant's knowledge base.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Knowledge base file identifier
      responses:
        "200":
          description: File deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /assistants/{assistantId}/billing/estimate:
    get:
      tags: [Knowledge Base]
      summary: Get knowledge base billing estimate
      operationId: getKnowledgeBaseBillingEstimate
      description: Retrieve the billing estimate for knowledge base processing for an assistant.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/AssistantId"
      responses:
        "200":
          description: Billing estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  estimate:
                    type: object
                    description: Estimate details depend on billing implementation
                    additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /kb:
    get:
      tags: [Knowledge Base]
      summary: Standalone knowledge base query
      operationId: queryKnowledgeBase
      description: |
        Optional standalone knowledge base query endpoint, if enabled in your deployment.
        Not a replacement for assistant file management endpoints. Schema is deployment-specific.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Query result (deployment-specific)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /credits:
    get:
      tags: [Credits]
      summary: Get credit balance
      operationId: getCredits
      description: |
        Read the current credit balance for an account. If accountId is omitted, uses the
        authenticated account. Dual authentication (API key or session).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      parameters:
        - name: accountId
          in: query
          required: false
          schema:
            type: string
          description: Account UUID to read
      responses:
        "200":
          description: Credit balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  credits:
                    $ref: "#/components/schemas/CreditsRecord"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [Credits]
      summary: Deduct credits
      operationId: deductCredits
      description: |
        Record usage and decrement an account balance. Returns 402 when the account
        does not have enough credits. Dual authentication.
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, amount]
              properties:
                accountId:
                  type: string
                amount:
                  type: number
                description:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Credits deducted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transactionId:
                    type: string
                  balance:
                    type: number
                  autoReloadTriggered:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "402":
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/checkout:
    post:
      tags: [Credits]
      summary: Create credits checkout session
      operationId: createCreditsCheckout
      description: |
        Create an embedded Stripe checkout session for a credit purchase.
        Provide planId, or both customAmount and customCredits (customAmount minimum 99).
      security:
        - ApiKeyBearer: []
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, accountSlug]
              properties:
                accountId:
                  type: string
                accountSlug:
                  type: string
                planId:
                  type: string
                customAmount:
                  type: number
                  description: Custom purchase amount in USD (minimum 99)
                customCredits:
                  type: number
                customerId:
                  type: string
                customerEmail:
                  type: string
                toltReferral:
                  type: string
      responses:
        "200":
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  checkoutToken:
                    type: string
                  sessionId:
                    type: string
                  credits:
                    type: number
                  amount:
                    type: number
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/auto-reload:
    get:
      tags: [Credits]
      summary: Get auto-reload settings
      operationId: getCreditsAutoReload
      description: Read auto-reload settings for the signed-in account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Auto-reload settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  auto_reload_enabled:
                    type: boolean
                  auto_reload_threshold:
                    type: number
                  auto_reload_amount_usd:
                    type: number
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [Credits]
      summary: Update auto-reload settings
      operationId: updateCreditsAutoReload
      description: Update auto-reload settings for the signed-in account.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_reload_enabled:
                  type: boolean
                auto_reload_threshold:
                  type: number
                auto_reload_amount_usd:
                  type: number
      responses:
        "200":
          description: Auto-reload settings updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/claim-grants:
    post:
      tags: [Credits]
      summary: Claim pending credit grants
      operationId: claimCreditGrants
      description: Apply pending credit grants to the signed-in account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Grants claimed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/plans:
    get:
      tags: [Credits]
      summary: List credit purchase plans
      operationId: listCreditPlans
      description: Return purchase plans available to the signed-in account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Credit plans
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/statement:
    get:
      tags: [Credits]
      summary: Get credit statement history
      operationId: getCreditsStatement
      description: Return statement-style credit history for the signed-in account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Credit statement
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /credits/transactions:
    get:
      tags: [Credits]
      summary: Get credit transaction history
      operationId: getCreditsTransactions
      description: Return transaction-level credit history for the signed-in account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Credit transactions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /billing/webhook:
    post:
      tags: [Billing, Webhooks]
      summary: Stripe billing webhook
      operationId: stripeBillingWebhook
      description: |
        Receive Stripe billing events for subscriptions, invoices, credits, and payment flows.
        Verifies the stripe-signature header with STRIPE_WEBHOOK_SECRET. Preserve the raw body.
      security:
        - StripeSignature: []
      parameters:
        - name: stripe-signature
          in: header
          required: true
          schema:
            type: string
          description: Stripe webhook signature header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Raw Stripe event payload
              additionalProperties: true
              properties:
                id:
                  type: string
                type:
                  type: string
                data:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Event acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                    example: true
        "400":
          description: Invalid signature or payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /billing/invoices:
    get:
      tags: [Billing]
      summary: List invoices
      operationId: listBillingInvoices
      description: List invoices for the authenticated session account.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Invoice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invoice"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /debug/billing:
    get:
      tags: [Billing]
      summary: Debug billing state
      operationId: debugBilling
      description: |
        Inspect billing state for debugging. Admin session access only.
        Payload is diagnostic and not a stable public contract.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Diagnostic billing payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden (admin only)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow:
    get:
      tags: [TurboFlow]
      summary: List flows
      operationId: listFlows
      description: Return flows available in the current authenticated session context.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Flow list
          content:
            application/json:
              schema:
                type: object
                properties:
                  flows:
                    type: array
                    items:
                      $ref: "#/components/schemas/Flow"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [TurboFlow]
      summary: Create a flow
      operationId: createFlow
      description: Create a new draft flow.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              additionalProperties: true
      responses:
        "200":
          description: Flow created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Flow"
        "201":
          description: Flow created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Flow"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/manifest:
    get:
      tags: [TurboFlow]
      summary: Get connector manifest
      operationId: getFlowManifest
      description: Return the connector manifest used by the workflow builder.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Connector manifest
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}:
    parameters:
      - $ref: "#/components/parameters/FlowId"
    get:
      tags: [TurboFlow]
      summary: Get a flow
      operationId: getFlow
      description: Retrieve the current flow definition.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Flow definition
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags: [TurboFlow]
      summary: Update a flow
      operationId: updateFlow
      description: Update draft metadata or structure. Does not affect already published versions.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Flow updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [TurboFlow]
      summary: Archive a flow
      operationId: archiveFlow
      description: Archive a flow. Management operation, not a runtime stop for completed runs.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Flow archived
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/publish:
    post:
      tags: [TurboFlow]
      summary: Publish a flow version
      operationId: publishFlow
      description: |
        Create a new runnable published version. Enables HMAC-based external invocation
        through the version's trigger_secret.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      responses:
        "200":
          description: Flow published
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/runs:
    get:
      tags: [TurboFlow]
      summary: List flow runs
      operationId: listFlowRuns
      description: Return historical executions for a flow.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      responses:
        "200":
          description: Flow run history
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/test-run:
    post:
      tags: [TurboFlow]
      summary: Test-run a flow
      operationId: testRunFlow
      description: Run the flow in test mode without the published trigger path.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Test run result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/test-run/node:
    post:
      tags: [TurboFlow]
      summary: Test-run a single flow node
      operationId: testRunFlowNode
      description: Run one node in isolation for debugging.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Node test run result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/tool-schema:
    get:
      tags: [TurboFlow]
      summary: Get flow tool schema
      operationId: getFlowToolSchema
      description: Return tool schema information for a specific flow.
      security:
        - SessionCookie: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
      responses:
        "200":
          description: Tool schema
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/{flowId}/trigger:
    post:
      tags: [TurboFlow, Webhooks]
      summary: Trigger a published flow
      operationId: triggerFlow
      description: |
        Runtime entry point for TurboFlow. Sign the raw request body with SHA-256 HMAC
        using the published version's trigger_secret and send the digest in X-Talkturo-Secret.
        Async mode (default) returns 202 with run_id. Sync mode (`?sync=true`) waits up to
        about 30 seconds for inline output.
      security:
        - HmacTalkturoSecret: []
      parameters:
        - $ref: "#/components/parameters/FlowId"
        - name: sync
          in: query
          required: false
          schema:
            type: boolean
          description: Wait for final output inline when true
        - name: X-Talkturo-Secret
          in: header
          required: true
          schema:
            type: string
          description: SHA-256 HMAC digest of the raw request body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [params]
              properties:
                params:
                  type: object
                  additionalProperties: true
                  description: Runtime input key-value pairs
                context:
                  type: object
                  additionalProperties: true
                  properties:
                    assistant_id:
                      type: string
      responses:
        "200":
          description: Sync execution completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowTriggerSyncResponse"
        "202":
          description: Async execution accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  run_id:
                    type: string
        "400":
          description: Bad request or invalid signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Sync execution failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowTriggerSyncResponse"

  /flow/{flowId}/webhook-test:
    parameters:
      - $ref: "#/components/parameters/FlowId"
    get:
      tags: [TurboFlow]
      summary: Get webhook test details
      operationId: getFlowWebhookTest
      description: Get webhook test details for a flow.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Webhook test details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [TurboFlow]
      summary: Send a webhook test
      operationId: sendFlowWebhookTest
      description: Send a webhook test for a flow.
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook test sent
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations:
    get:
      tags: [TurboFlow]
      summary: List integrations
      operationId: listFlowIntegrations
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integrations list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [TurboFlow]
      summary: Connect an integration
      operationId: connectFlowIntegration
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Integration connected
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [TurboFlow]
      summary: Disconnect an integration
      operationId: disconnectFlowIntegration
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integration disconnected
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/{integrationId}:
    parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
        description: Integration identifier
    get:
      tags: [TurboFlow]
      summary: Get an integration
      operationId: getFlowIntegration
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integration details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [TurboFlow]
      summary: Delete an integration
      operationId: deleteFlowIntegration
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Integration deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/{integrationId}/options:
    get:
      tags: [TurboFlow]
      summary: Get dynamic integration options
      operationId: getFlowIntegrationOptions
      security:
        - SessionCookie: []
      parameters:
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Dynamic options
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/oauth/authorize:
    post:
      tags: [TurboFlow]
      summary: Start OAuth authorization
      operationId: startFlowIntegrationOAuth
      description: |
        Start OAuth for an integration. Generates OAuth state, stores a hash in httpOnly
        cookies, and redirects to the provider consent screen.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, label, account_slug]
              properties:
                provider:
                  type: string
                label:
                  type: string
                account_slug:
                  type: string
      responses:
        "200":
          description: Authorization started / redirect info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "302":
          description: Redirect to provider consent screen
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/oauth/callback:
    get:
      tags: [TurboFlow]
      summary: Complete OAuth authorization
      operationId: completeFlowIntegrationOAuth
      description: OAuth callback that validates state cookie and exchanges the authorization code.
      security: []
      responses:
        "200":
          description: OAuth completed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "302":
          description: Redirect after OAuth completion
        "400":
          description: Invalid OAuth state or code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/webhooks/{provider}:
    post:
      tags: [TurboFlow, Webhooks]
      summary: Receive provider integration webhook
      operationId: receiveFlowProviderWebhook
      description: |
        Inbound events from supported providers (e.g. cal.com, calendly, slack).
        Authenticated with per-webhook HMAC via X-Talkturo-Secret.
      security:
        - HmacTalkturoSecret: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: Provider name (cal.com, calendly, slack, etc.)
        - name: X-Talkturo-Secret
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Invalid HMAC
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/integrations/webhooks/meta:
    get:
      tags: [TurboFlow, Webhooks]
      summary: Verify Meta webhook
      operationId: verifyMetaWebhook
      description: Meta webhook verification handshake. Returns hub.challenge on success.
      security: []
      parameters:
        - name: hub.mode
          in: query
          required: false
          schema:
            type: string
        - name: hub.verify_token
          in: query
          required: false
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Verification challenge echoed
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Verification failed
    post:
      tags: [TurboFlow, Webhooks]
      summary: Receive Meta lead events
      operationId: receiveMetaWebhook
      description: |
        Receive Meta / Facebook lead ads webhook events.
        Authenticated with HMAC derived from META_APP_SECRET (e.g. X-Hub-Signature-256).
      security:
        - HmacTalkturoSecret: []
      parameters:
        - name: X-Hub-Signature-256
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Event accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Invalid signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/secrets:
    get:
      tags: [TurboFlow]
      summary: List secrets
      operationId: listFlowSecrets
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secrets list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [TurboFlow]
      summary: Create a secret
      operationId: createFlowSecret
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Secret created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [TurboFlow]
      summary: Delete a secret
      operationId: deleteFlowSecret
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/secrets/{secretId}:
    parameters:
      - name: secretId
        in: path
        required: true
        schema:
          type: string
        description: Secret identifier
    get:
      tags: [TurboFlow]
      summary: Get a secret
      operationId: getFlowSecret
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [TurboFlow]
      summary: Delete a secret by ID
      operationId: deleteFlowSecretById
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/secrets/providers:
    get:
      tags: [TurboFlow]
      summary: List secret providers
      operationId: listFlowSecretProviders
      description: List available secret providers for encrypted secret storage.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Secret providers
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/tools:
    get:
      tags: [TurboFlow]
      summary: List tools and connectors
      operationId: listFlowTools
      description: Return connectors and tools available to the current account and environment.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Tools and connectors
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/robert:
    get:
      tags: [TurboFlow]
      summary: Open AI builder stream
      operationId: openFlowAiRobertStream
      description: AI-assisted flow building with streaming behavior (GET).
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Stream opened / AI builder response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [TurboFlow]
      summary: Send AI builder request
      operationId: sendFlowAiRobertRequest
      description: AI-assisted flow building request (POST).
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: AI builder response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/robert-batch:
    post:
      tags: [TurboFlow]
      summary: Send batch AI builder request
      operationId: sendFlowAiRobertBatch
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Batch AI builder response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/describe-parameter:
    post:
      tags: [TurboFlow]
      summary: Generate a parameter description
      operationId: describeFlowParameter
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Generated parameter description
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /flow/ai/describe-tool:
    post:
      tags: [TurboFlow]
      summary: Generate a tool description
      operationId: describeFlowTool
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Generated tool description
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/sign-in:
    post:
      tags: [Desktop Auth]
      summary: Sign in with email and password
      operationId: authSignIn
      description: Exchange email and password for a Supabase session token pair.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Signed in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionEnvelope"
        "401":
          description: Invalid login credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/sign-up:
    post:
      tags: [Desktop Auth]
      summary: Sign up with email and password
      operationId: authSignUp
      description: |
        Create a new account. Depending on Supabase settings, returns a full session
        or a user object with needs_email_confirm set to true.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    additionalProperties: true
                    properties:
                      needs_email_confirm:
                        type: boolean
                      access_token:
                        type: string
                      refresh_token:
                        type: string
                      expires_in:
                        type: integer
                      expires_at:
                        type: integer
                      token_type:
                        type: string
                      user:
                        $ref: "#/components/schemas/AuthUser"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/sign-out:
    post:
      tags: [Desktop Auth]
      summary: Global sign-out
      operationId: authSignOut
      description: |
        Revoke the current user's refresh tokens globally. Send the current access
        token as Authorization Bearer JWT.
      security:
        - JwtBearer: []
      responses:
        "200":
          description: Signed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/refresh:
    post:
      tags: [Desktop Auth]
      summary: Refresh session tokens
      operationId: authRefresh
      description: Exchange a refresh token for a new access and refresh token pair.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionEnvelope"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /auth/callback:
    get:
      tags: [Desktop Auth]
      summary: OAuth callback handler
      operationId: authCallback
      description: Handles the Supabase OAuth callback in browser-based sign-in flows.
      security: []
      responses:
        "200":
          description: Callback handled
        "302":
          description: Redirect after OAuth callback

  /auth/confirm:
    get:
      tags: [Desktop Auth]
      summary: Email confirmation handler
      operationId: authConfirm
      description: Handles email confirmation after sign-up.
      security: []
      responses:
        "200":
          description: Confirmation handled
        "302":
          description: Redirect after confirmation

  /auth/token:
    servers:
      - url: https://api.talkturo.com
        description: LiveKit token handler is served outside the /api prefix
    get:
      tags: [Webhooks]
      summary: Generate LiveKit token and dispatch agent
      operationId: getLiveKitToken
      description: |
        Public token handler exposed through middleware (not under /api).
        Generates a LiveKit access token, creates a room when needed, and dispatches an agent.
        Full URL: `https://api.talkturo.com/auth/token`.
      security: []
      parameters:
        - name: mode
          in: query
          schema:
            type: string
        - name: room
          in: query
          schema:
            type: string
        - name: assistant_id
          in: query
          schema:
            type: string
        - name: account_id
          in: query
          schema:
            type: string
        - name: account_slug
          in: query
          schema:
            type: string
        - name: company_id
          in: query
          schema:
            type: string
        - name: visitor_name
          in: query
          schema:
            type: string
        - name: visitor_phone
          in: query
          schema:
            type: string
        - name: billing_exempt
          in: query
          schema:
            type: string
      responses:
        "200":
          description: LiveKit token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity:
                    type: string
                  accessToken:
                    type: string
                  roomName:
                    type: string
                  agentName:
                    type: string

  /integrations/zapier:
    post:
      tags: [Webhooks]
      summary: Zapier integration endpoint
      operationId: zapierIntegration
      description: |
        Endpoint used by the Zapier integration. Exact payload and authentication
        behavior depend on workspace integration configuration.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Zapier request handled
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /crm/contacts:
    get:
      tags: [CRM Contacts]
      summary: List contacts
      operationId: listCrmContacts
      description: Retrieve a paginated list of contacts with optional filters.
      security:
        - SessionCookie: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: companyId
          in: query
          schema:
            type: string
        - name: campaignId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrmContact"
                  total:
                    type: integer
                  page:
                    type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [CRM Contacts]
      summary: Create a contact
      operationId: createCrmContact
      description: Create a single CRM contact. Custom fields may be sent as top-level properties.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrmContactInput"
      responses:
        "200":
          description: Contact created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contact:
                    $ref: "#/components/schemas/CrmContact"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /crm/contacts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Contact ID
    get:
      tags: [CRM Contacts]
      summary: Get a contact
      operationId: getCrmContact
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Contact record
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contact:
                    $ref: "#/components/schemas/CrmContact"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags: [CRM Contacts]
      summary: Update a contact
      operationId: updateCrmContact
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                company_id:
                  type: string
      responses:
        "200":
          description: Contact updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contact:
                    $ref: "#/components/schemas/CrmContact"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [CRM Contacts]
      summary: Delete a contact
      operationId: deleteCrmContact
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Contact deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /crm/contacts/import:
    post:
      tags: [CRM Contacts]
      summary: Bulk import contacts
      operationId: importCrmContacts
      description: Import contacts from a JSON contacts array or CSV body.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contacts:
                  type: array
                  items:
                    $ref: "#/components/schemas/CrmContactInput"
          text/csv:
            schema:
              type: string
              description: CSV with headers such as first_name,last_name,email,phone,company_id
      responses:
        "200":
          description: Import processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  imported:
                    type: integer
                  failed:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /crm/companies:
    get:
      tags: [CRM Companies]
      summary: List companies
      operationId: listCrmCompanies
      security:
        - SessionCookie: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  companies:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrmCompany"
                  total:
[...]
